.dashboard {
    padding: 2rem;
    background: #f3f2fc;
    min-height: 100vh;
  }
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #4e4c66;
  }
  
  .addTask {
    background-color: #6c63ff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
  
  .taskContainer {
    background-color: #000000;
    padding: 1rem;
    border-radius: 15px;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    margin: 0.5rem 0;
    background-color: #000000;
    border-radius: 10px;
  }
  
  .taskLeft {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .taskLeft p {
    font-weight: bold;
    margin: 0;
  }
  
  .completed {
    text-decoration: line-through;
    color: #999;
  }
  
  .taskRight button {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .input-tarefa {
    border: 2px solid #6c63ff;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    background-color: #fff;
    color: #333;
  }
  
.checkbox-custom {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 1; /* Evita espaçamento extra */
}

.checkbox-custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: all 0.3s;
}

.checkbox-custom input:checked ~ .checkmark {
  background-color: #646cff;
  border-color: #646cff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 0.35em;    /* Ajuste proporcional */
  top: 0.1em;
  width: 0.3em;
  height: 0.6em;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-custom input:checked ~ .checkmark:after {
  display: block;
}